#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd

In [3]:
def lesser_of_two_evens ( a , b ) :
    if a % 2 == 0 and b % 2 == 0 :
        return min( a , b )
    else:
        return max( a , b )

In [4]:
lesser_of_two_evens(2,4)

2

In [5]:
lesser_of_two_evens(2,5)

5

In [17]:
def check ( a , b ) :
    if a % 2 == 0 and b % 2 == 0 :
        print("The Value of a and b is Even")
        if a > b :
            print(f"The Value of b ::  {b} :: is the lesser ")
        elif b > a :
            print(f"The value of a :: {a} :: is the lesser")
        else :
            print("The codition not achieved")
            pass
    elif a % 2 != 0 or b % 2 != 0 or a % 2 != 0 and b % 2 != 0  :
        if a % 2 != 0 and b % 2 != 0 :
            print(f" The value of a :: {a} :: and the value of b :: {b} :: are odd values")
            if a > b :
                print(f" the value of a ::  {a} :: is the greather")
            else :
                print(f"The grather value is ::  {b}")
        elif b % 2 != 0 :
            print(f"The value of b ::  {b} ::  is odd value")
            if a > b :
                print(f" the value of a ::  {a} :: is the greather")
            else :
                print(f" the value of b ::  {b} :: is the greather")
        elif a % 2 != 0  :
            print(f"The value of a ::  {a} ::  is odd value")
            if a > b :
                print(f" the value of a ::  {a} :: is the greather")
            else :
                print(f" the value of b ::  {b} :: is the greather")
        else :
            print("The codition not Achieved")
    else :
        print("That numbers are wrong")
        print("PLz try again")
        print("Thx my friend")

In [18]:
check(2,4)

The Value of a and b is Even
The value of a :: 2 :: is the lesser

In [19]:
check(2,5)

The value of b ::  5 ::  is odd value
 the value of b ::  5 :: is the greather

In [20]:
check(10,8)

The Value of a and b is Even
The Value of b ::  8 :: is the lesser

In [21]:
check(20,100)

The Value of a and b is Even
The value of a :: 20 :: is the lesser

In [22]:
check(20,13)

The value of b ::  13 ::  is odd value
 the value of a ::  20 :: is the greather

In [23]:
check(27,20)

The value of a ::  27 ::  is odd value
 the value of a ::  27 :: is the greather

In [24]:
check(9,13)

 The value of a :: 9 :: and the value of b :: 13 :: are odd values
The grather value is ::  13

In [25]:
check(3.12,13.7)

 The value of a :: 3.12 :: and the value of b :: 13.7 :: are odd values
The grather value is ::  13.7

In [26]:
check(0,0)

The Value of a and b is Even
The codition not achieved

In [27]:
check(-1,-13)

 The value of a :: -1 :: and the value of b :: -13 :: are odd values
 the value of a ::  -1 :: is the greather

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

In [6]:
def animal_crackers (text) :
    txt_sp = text.split()
    return txt_sp[0][0] == txt_sp[1][0]

In [7]:
animal_crackers('Levelheaded Llama')

True

In [8]:
animal_crackers('Crazy Kangaroo')

False

In [28]:
def animal_crackers ( w1 , w2 ) :
    if str(w1[0]) == str(w2[0]) :
        print(f"the w1[0] ::{w1[0]} of {w1} :: is the same the w2[0]  of {w2}:: {w2[0]} ::")
        print("True")
    else :
        print(f"the w1[0] ::{w1[0]}  :: is not the same the w2[0] :: {w2[0]} ::")
        print("False")

In [29]:
animal_crackers("Levelheaded" , "Llama")

the w1[0] ::L of Levelheaded :: is the same the w2[0]  of Llama:: L ::
True

In [30]:
animal_crackers("Crazy" ,  "Kangaroo")

the w1[0] ::C  :: is not the same the w2[0] :: K ::
False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

In [15]:
def makes_twenty ( n1 , n2) :
    return ( n1 + n2 ) == 20 or n1 == 20 or n2 == 20

In [16]:
makes_twenty(20,10)

True

In [17]:
makes_twenty(12,8)

True

In [18]:
makes_twenty(2,3)

False

In [31]:
def makes_twenty(n1,n2) :
    if n1  is 20 :
        print("The value of n1 is :: 20")
        print("True")
    elif n2 is 20 :
        print("The value of n2 is :: 20")
        print("True")
    elif  (n1 + n2) == 20 :
        print("The sum of n1 and n2 is  ::  20")
        print("True")
    else :
        print("The conditions not acieved")
        return False

In [32]:
makes_twenty(20,10)

The value of n1 is :: 20
True

In [33]:
makes_twenty(2,3)

The conditions not acieved

False

In [34]:
makes_twenty(12,8)

The sum of n1 and n2 is  ::  20
True

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

In [23]:
def old_macdonald(name) :
    if len(name) > 3 :
        return name[0:3].capitalize() + name[3:].capitalize()
    else :
        return "The name more shot plz try again ^_^"

In [24]:
old_macdonald('macdonald')

'MacDonald'

In [25]:
old_macdonald('mynameisahmed')

'MynAmeisahmed'

In [26]:
old_macdonald('mac')

'The name more shot plz try again ^_^'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

In [50]:
def master_yoda (text) :
    x = text.split()
    x.reverse()
    return "  ".join(x)

In [51]:
master_yoda("I am home")

'home  am  I'

In [28]:
def master_yoda1 (text) :
    return " ".join(text.split()[::-1])

In [29]:
master_yoda1("We are ready")

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

In [60]:
def almost_there (n) :
    if abs(100 - n ) <= 10 or abs(200 - n) <= 10 :
        
        return f" True ::becouse ::the num of  ::{n} is  almost there"
    else :
        return f" False ::becouse ::the num of  ::{n} is not almost there"

In [61]:
almost_there(104)

' True ::becouse ::the num of  ::104 is  almost there'

In [62]:
almost_there(150)

' False ::becouse ::the num of  ::150 is not almost there'

In [63]:
almost_there(209)

' True ::becouse ::the num of  ::209 is  almost there'

In [64]:
almost_there(90)

' True ::becouse ::the num of  ::90 is  almost there'

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

In [32]:
def paper_doll (text) :
    res = ""
    for i in text :
        res += i*3
    return res

In [33]:
paper_doll('Hello')

'HHHeeellllllooo'

In [34]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

In [39]:
def blackjack( x , y , z ) :
    if ( x + y + z) <= 21 :
        return ( x + y + z)
    elif ( x + y + z) <= 31 and 11 in ( x , y , z ) :
        return ( x + y + z)-10
    else :
        return "Bust"

In [40]:
blackjack(5,6,7)

18

In [41]:
blackjack(9,9,9)

'Bust'

In [42]:
blackjack(9,9,11)

19

In [43]:
def blackjack(a,b,c):
    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [44]:
blackjack(5,6,7)

18

In [45]:
blackjack(9,9,9)

'BUST'

In [46]:
blackjack(9,9,11)

19