# Numbers in Python

In [12]:
# integer , float and complex numbers 

i = 100
ii = 13.5
iii = 3e8
c = 5j + 7

print(i)
print(ii)
print(iii)
print(c)

print("=================")

# To Know the dtype of variables

print(type(i))
print(type(ii))
print(type(iii))
print(type(c))


print("=======================")

100
13.5
300000000.0
(7+5j)
=================
<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>

# Arthimatical operation

#1- Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

#Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [70]:
num1 = 99
num2 = 1.25
r = num1 + num2

print("Summation                    :: " ,  num1  ,  "   +" ,   num2  ,  " ="   ,r)

print("=====================================")

num1 = 101.50
num2 = 1.25

r = num1 - num2

print("Substraction                 :: " , num1 ,  " -" , num2  , "=" , r)

print("=======================================")

num1 = 50.125
num2 = 2

r = num1 * num2

print("Multiplication               :: " , num1 , "*" , num2  , " =" , r)

print("========================================")

num1 = 200.50
num2 = 2

r = num1 / num2

print("Division with float result   :: " , num1 , " /" , num2  , "  =" , r)

print("==========================================")

num1 = 200.50
num2 = 2

r = num1 // num2

print("Division with int result     :: " , num1 , "//" , num2  , "  =" , r)

Summation                    ::  99    + 1.25  = 100.25
=====================================
Substraction                 ::  101.5  - 1.25 = 100.25
=======================================
Multiplication               ::  50.125 * 2  = 100.25
========================================
Division with float result   ::  200.5  / 2   = 100.25
==========================================
Division with int result     ::  200.5 // 2   = 100.0

#2- Answer these 3 questions without typing code. Then type code to check your answer.
#2.1 - What is the value of the expression 4 (6 + 5)
#2.2 - What is the value of the expression 4 6 + 5
#2.3 - What is the value of the expression 4 + 6 * 5

In [56]:
result_1 = 4 *( 6 + 5 )
result_2 = 4 * 6 + 5
result_3 = 4 + 6 * 5

print( "4 *( 6 + 5 ) =", result_1)
print("==========")
print( "4 * 6 + 5    =" , result_2)
print("==========")
print(" 4 + 6 * 5   = " , result_3)

4 *( 6 + 5 ) = 44
==========
4 * 6 + 5    = 29
==========
 4 + 6 * 5   =  34

#3- What is the type of the result of the expression 3 + 1.5 + 4?

In [71]:
print(type(3 + 1.5 + 4))

<class 'float'>

#4- What would you use to find a numberâ€™s square root, as well as its square?

In [78]:
N = float(input("Enter the num pls   ::"))

square_root = N  ** 0.5

print( "the square_root of"  , N , "=" ,square_root )

Enter the num pls   ::25
the square_root of 25.0 = 5.0

In [79]:
N = float(input("Enter the num pls  ::"))

square = N  **2

print( "the square  of"  , N , "=" ,square )

Enter the num pls  ::5
the square  of 5.0 = 25.0

# Strings

In [80]:
x  = "Hello World"
y = "Hello\tWorld"
z = "Hello\nWorld"

print(x)
print("=====")
print(y)
print("=====")
print(z)

Hello World
=====
Hello	World
=====
Hello
World

# operations in Strings

In [83]:
i = "Hello"
ii = "World"
r = i + ii
iii = 2 * "Ahmed"
print(r)
print("========")
print(ii)
print("===========")
print(iii)

HelloWorld
========
World
===========
AhmedAhmed

# Assignment Operation

In [1]:
n1 = 100
n2 = 50
n3 = 80

print( n1 == n2 )
print( n2 <= n3 )
print( n1 >= n2 )
print( n2 != n1 )

False
True
True
True

# Comparision Operation

In [2]:
print( n1 > n2 and n2 < n3 )
print( n1 == n2 and n2 != n3 )
print( n1 <= n2 and n2 >= n3 )
print( n1 > n2 or n2 < n3 )
print( n1 == n2 or n2 != n3 )
print( n1 <=n2 and n2 >= n3 )

True
False
False
True
True
False

# indefining statment

In [3]:
print( n1 is 100 )
print( n1 is not 100 )
print( n1 is 80 )

True
False
False

# Continoue Assignment 3

#1_ Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

#2_Reverse the string 'hello' using slicing:

#3_Given the string hello, give two methods of producing the letter 'o' using indexing.

In [4]:
s = "Hello"
print(s)
print("=====")
print(s[1])
print("=====")
print(s[::-1])
print("=====")
print(s[-1])
print("=====")
print(s[4])

Hello
=====
e
=====
olleH
=====
o
=====
o

# Lists

#1_Build this list [0,0,0] two separate ways.

In [16]:
l=[0,0,0]
print(l)
print("=======")
v_of_list = 0,0,0
ll =list(v_of_list)
print(ll)
print("========")
lll = [0]
print(lll*3)

[0, 0, 0]
=======
[0, 0, 0]
========
[0, 0, 0]

#2_Reassign 'hello' in this nested list to say 'goodbye' instead:

In [18]:
list3 = [1,2,[3,4,'hello']]
print(list3)

print("==========")

list3[2][2] = "goodbye"

print(list3)

print("==========")

[1, 2, [3, 4, 'hello']]
==========
[1, 2, [3, 4, 'goodbye']]

#3_Sort the list below:

In [30]:
list4 = [5,3,4,6,1]
print(list4)
print("==============")
print(sorted(list4))
print("==============")
list4.sort()
print(list4)
print("==============")
list4.reverse
print(list4)

[5, 3, 4, 6, 1]
==============
[1, 3, 4, 5, 6]
==============
[1, 3, 4, 5, 6]
==============
[1, 3, 4, 5, 6]

# Disctionary

#1_Using keys and indexing, grab the 'hello' from the following dictionaries:

In [42]:
d1 = {'simple_key':'hello'}
print(d1['simple_key'])

print("=============")

d2 = {'k1':{'k2':'hello'}}
print(d2["k1"]["k2"])


print("=============")


d3 = {'k1':[{'nest_key':['this is deep',['hello']]}]}

print(d3['k1'][0]['nest_key'][1])

print("===============")

d4 = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print(d4['k1'][2]['k2'][1]['tough'][2])

print("===========")

hello
=============
hello
=============
['hello']
===============
['hello']
===========

#2_Can you sort a dictionary? Why or why not?

Answer::it is possible to sort dict using func sort _ becouse::

1-do not have an inherent order

2-the dictionary is orderless at general

# Tuples

#1_What is the major difference between tuples and lists?

answer::

1_Lists is mutable  and Tuples Immutable

#2_How do you create a tuple?

Answer::

In [44]:
tuple()

()

In [49]:
x = 10 , 15 , "d" , [ 10 , "AHMED" , True ] , -55 , { 1 : "DS" , 2 : "ML" } , 10
print(tuple(x))
print("===================")
print(x.count(10))
print("=========")
print(x.index(-55))

(10, 15, 'd', [10, 'AHMED', True], -55, {1: 'DS', 2: 'ML'}, 10)
===================
2
=========
4

# Sets

#1_What is unique about a set?

answer ::  if the set have multi elements have the same value take one of them only Such ::

In [56]:
S = { 10 , 45 , "TURKI" , True , 45 , False , 10 , 45 ,( 10 , 20 , 30 ) }

print(S)

{False, True, 10, 45, 'TURKI', (10, 20, 30)}

#2_Use a set to find the unique values of the list below:

In [59]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
print(list5)
print("===================================")
print((set(list5)))

[1, 2, 2, 33, 4, 4, 11, 22, 3, 3, 2]
===================================
{1, 2, 33, 4, 3, 11, 22}

# Booleans

#1_What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [64]:
F1 = 2 > 3
F2 = 3 <= 2
F3 = 3 == 2.0
T1 = 3.0 == 3
F4 = 4**0.5 != 2

print(F1)
print(F2)
print(F3)
print(T1)
print(F4)

False
False
False
True
False

#2_Final Question: What is the boolean output of the cell block below?

In [67]:
# nested lists

l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

print( l_one + l_two )
print("======================")

print( l_two + l_one )

# Check True or False

l_one[2][0] >= l_two[2]['k1']

[1, 2, [3, 4], 1, 2, {'k1': 4}]
======================
[1, 2, {'k1': 4}, 1, 2, [3, 4]]

False